﻿
@{
    Layout = null;
}

<!DOCTYPE html>



<html lang="en">
<!--begin::Head-->
<head>

    <meta charset="utf-8" />
    <title>Login - SBL Automation</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @*<link rel="canonical" href="https://keenthemes.com/metronic" />*@
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    @*<link href="assets/css/pages/login/classic/login-4.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Assets/css/login/login-4.css" rel="stylesheet" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    @*<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />*@

    <link href="~/Assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/Assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" />
    <link href="~/Assets/css/style.bundle.css" rel="stylesheet" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    @*<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />*@
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: url(assets/media/bg/bg-10.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        @*<form asp-action="login" method="post" class="login100-form validate-form">

            </form>*@
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('assets/media/bg/bg-3.jpg');">
                <div class="login-form text-center p-7 position-relative overflow-hidden">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-15">
                        <a href="#">
                            <img src="https://www.voxteneo.com/media/v2wga2ta/vox-logo.svg?width=1" class="max-h-75px" alt="" />
                        </a>
                    </div>
                    <!--end::Login Header-->
                    <!--begin::Login Sign in form-->
                    <div class="login-signin">
                        <div class="mb-20" style="margin-bottom:0px !important;">
                            <h3>Sign In </h3>
                            <span class="login100-form p-b-34 p-t-27" style="text-align: center;color: red;font-weight: 700;display: block;padding: 0px 0px 10px 0px;">
                                @TempData["Message"]
                            </span>
                            @*<div class="text-muted font-weight-bold">Enter your details to login to your account:</div>*@
                        </div>
                        <form asp-action="login" method="post" autocomplete="off">
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Email" name="email" id="email" autocomplete="off" value="" />
                            </div>
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" name="password" id="password" autocomplete="new-password" value="" />
                            </div>
                            @*<div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                                    <div class="checkbox-inline">
                                        <label class="checkbox m-0 text-muted">
                                            <input type="checkbox" name="remember" />
                                            <span></span>Remember me
                                        </label>
                                    </div>
                                    <a href="javascript:;" id="kt_login_forgot" class="text-muted text-hover-primary">Forget Password ?</a>
                                </div>*@

                            <button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Sign In</button>
                        </form>
                        <div class="mt-10">
                            @*<span class="opacity-70 mr-4">Don't have an account yet?</span>
                                <a href="javascript:;" id="kt_login_signup" class="text-muted text-hover-primary font-weight-bold">Sign Up!</a>*@

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->
    @*<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>*@
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    @*<script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>*@

    <script src="~/Assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/Assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/Assets/js/scripts.bundle.js"></script>

    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    @*<script src="assets/js/pages/custom/login/login-general.js"></script>*@
    <script src="~/Assets/js/pages/custom/login/login-general.js"></script>
    <!--end::Page Scripts-->


</body>
<!--end::Body-->
</html>
