﻿.menu-text {
    color: black !important;
}

.header {
    background: #f7dddd !important;
}

.content-container{
    margin:15px 0px 0px 0px;
    max-width:100%;
}

.font10 .k-grid-header .k-grid-header-wrap table thead tr th {
    font-size: 10px !important;
}

.font10, .font10 .k-grid-content table tbody tr td {
    font-size: 10px !important;
}

.padding79 {
    padding: 7px 9px;
}

.red {
    color: red;
}

label {
    font-weight: 400 !important;
}

.panel-body {
    background: #ffffff;
}

.maxWidth400 {
    max-width: 400px;
}

.paddingleft0 {
    padding-left: 0px;
}

.divTitle {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

floatright {
    float: right;
}

.panel-heading {
    border-bottom: 0px;
}

.margintop10 {
    margin-top: 10px;
}

.marginbot10 {
    margin-bottom: 10px;
}

/*stepper*/
.md-stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}

    .md-stepper-horizontal .md-step {
        display: table-cell;
        position: relative;
        padding: 24px;
    }

        .md-stepper-horizontal .md-step:hover,
        .md-stepper-horizontal .md-step:active {
            background-color: rgba(0,0,0,0.04);
        }

        .md-stepper-horizontal .md-step:active {
            border-radius: 15% / 75%;
        }

        .md-stepper-horizontal .md-step:first-child:active {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .md-stepper-horizontal .md-step:last-child:active {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .md-stepper-horizontal .md-step:hover .md-step-circle {
            background-color: #757575;
        }

        .md-stepper-horizontal .md-step:first-child .md-step-bar-left,
        .md-stepper-horizontal .md-step:last-child .md-step-bar-right {
            display: none;
        }

        .md-stepper-horizontal .md-step .md-step-circle {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            background-color: #999999;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            font-size: 45px;
            font-weight: 600;
            color: #FFFFFF;
        }

    .md-stepper-horizontal.green .md-step.active .md-step-circle {
        background-color: #00AE4D;
    }

    .md-stepper-horizontal.orange .md-step.active .md-step-circle {
        background-color: #8bc34a;
    }

    .md-stepper-horizontal .md-step.active .md-step-circle {
        background-color: rgb(33,150,243);
    }

    .md-stepper-horizontal .md-step.done .md-step-circle:before {
        font-family: 'FontAwesome';
        font-weight: 100;
        content: "\f00c";
    }

    .md-stepper-horizontal .md-step.done .md-step-circle *,
    .md-stepper-horizontal .md-step.editable .md-step-circle * {
        display: none;
    }

    .md-stepper-horizontal .md-step.editable .md-step-circle {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

        .md-stepper-horizontal .md-step.editable .md-step-circle:before {
            font-family: 'FontAwesome';
            font-weight: 100;
            content: "\f040";
        }

    .md-stepper-horizontal .md-step .md-step-title,
    .md-stepper-horizontal .md-step .md-step-titleOrange {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 600;
    }

    .md-stepper-horizontal .md-step .md-step-title, .md-stepper-horizontal .md-step .md-step-titleOrange,
    .md-stepper-horizontal .md-step .md-step-optional {
        text-align: center;
        color: rgba(0,0,0,.26);
    }

    .md-stepper-horizontal .md-step.active .md-step-title {
        font-weight: 600;
        color: rgba(0,0,0,.87);
    }

    .md-stepper-horizontal .md-step.active .md-step-titleOrange {
        font-weight: 600;
        color: orange;
    }

    .md-stepper-horizontal .md-step.active.done .md-step-title,
    .md-stepper-horizontal .md-step.active.done .md-step-titleOrange,
    .md-stepper-horizontal .md-step.active.editable .md-step-title {
        font-weight: 600;
    }

    .md-stepper-horizontal .md-step .md-step-optional {
        font-size: 12px;
    }

    .md-stepper-horizontal .md-step.active .md-step-optional {
        color: rgba(0,0,0,.54);
    }

    .md-stepper-horizontal .md-step .md-step-bar-left,
    .md-stepper-horizontal .md-step .md-step-bar-right {
        position: absolute;
        top: 55px;
        height: 1px;
        border-top: 1px solid #DDDDDD;
    }

    .md-stepper-horizontal .md-step .md-step-bar-right {
        right: 0;
        left: 50%;
        margin-left: 40px;
    }

    .md-stepper-horizontal .md-step .md-step-bar-left {
        left: 0;
        right: 50%;
        margin-right: 40px;
    }

    .md-stepper-horizontal .md-step .md-step-title-nomargin {
        margin-top: 3px;
        font-size: 16px;
        font-weight: 600;
    }

    .md-stepper-horizontal .md-step .md-step-title-date {
        color: #f54343 !important;
    }

    .md-stepper-horizontal .md-step .md-step-title-nostatus {
        margin-top: 3px;
        font-size: 23px;
        font-weight: 900 !important;
        color: #58c509 !important;
    }

    .md-stepper-horizontal .md-step .md-step-title-notrequired {
        margin-top: 3px;
        font-size: 23px;
        font-weight: 900 !important;
        color: black !important;
    }

.approvalTitle {
    font-size: 23px;
    font-weight: 900 !important;
    color: #58c509 !important;
    text-align: center;
    margin: auto;
    width: 22%;
    border: 3px solid #58c509;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*endStepper*/


.hide-before:before {
    display: none !important;
}

.tabpage a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '' !important;
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '' !important;
}


.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}



.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

body .modal-dialog {
    max-width: 50%;
    width: auto !important;
    /*display: inline-block;*/
}

.k-filter-row th, .k-grid-header th.k-header {
    text-align: center !important;
}

.k-primary, k-primary {
    background-color: #204d74 !important;
    border-color: none !important
}

.k-grid-norecords-template {
    width: auto !important;
}

.width100 {
    width: 100%;
}

.colorWhite {
    color: #fff !important;
}

.marginRight10 {
    margin-right: 10px;
}

.panel-title {
    margin-bottom: 25px !important;
}

.fontTitle {
    font-size: 18px;
    font-weight: 700;
    color: #123456;
}

.form-c-inline {
    margin-bottom: 0px;
}

input,
select,
textarea {
    max-width: 480px;
}


.panel-default > .panel-heading {
    background-color: #ffffff;
}

.row {
    display: block;
}

.marginLeft10 {
    margin-right: 10px;
}

.paddingleft5 {
    padding-left: 5px;
}

.page-container {
    margin-left: 20px;
    margin-right: 20px;
}

.nav {
    width: 100%;
    margin-left: 0px;
}

.paddingRight10 {
    padding-right: 10px;
}

.icon-zoom-out2, .icon-zoom-out, .icon-zoom-in2, .icon-zoom-in, .icon-youtube2, .icon-youtube, .icon-yin-yang, .icon-yelp, .icon-yahoo, .icon-xing2, .icon-xing, .icon-wrench2, .icon-wrench, .icon-wordpress2, .icon-wordpress, .icon-wondering2, .icon-wondering, .icon-woman, .icon-wink2, .icon-wink, .icon-windy, .icon-windows8, .icon-windows, .icon-weather-snow, .icon-weather-rain, .icon-weather-lightning, .icon-wave2, .icon-wave, .icon-watch, .icon-warning, .icon-wand2, .icon-wand, .icon-volume5, .icon-volume4, .icon-volume3, .icon-volume2, .icon-volume1, .icon-volume0, .icon-volume-mute6, .icon-volume-mute5, .icon-volume-mute4, .icon-volume-mute3, .icon-volume-mute2, .icon-volume-mute, .icon-volume-medium2, .icon-volume-medium, .icon-volume-low2, .icon-volume-low, .icon-volume-increase2, .icon-volume-increase, .icon-volume-high2, .icon-volume-high, .icon-volume-decrease2, .icon-volume-decrease, .icon-vimeo3, .icon-vimeo2, .icon-vimeo, .icon-vector, .icon-vcard, .icon-users2, .icon-users, .icon-user4, .icon-user3, .icon-user2, .icon-user, .icon-user-plus3, .icon-user-plus2, .icon-user-plus, .icon-user-minus3, .icon-user-minus2, .icon-user-minus, .icon-user-cancel2, .icon-user-cancel, .icon-user-block2, .icon-user-block, .icon-upload5, .icon-upload4, .icon-upload3, .icon-upload2, .icon-upload, .icon-unlocked2, .icon-unlocked, .icon-undo2, .icon-undo, .icon-underline, .icon-umbrella, .icon-twitter3, .icon-twitter2, .icon-twitter, .icon-tv, .icon-tux, .icon-tumblr2, .icon-tumblr, .icon-truck, .icon-trophy2, .icon-trophy, .icon-trophy-star, .icon-tree3, .icon-tree2, .icon-tree, .icon-transmission2, .icon-transmission, .icon-tools, .icon-tongue2, .icon-tongue, .icon-ticket, .icon-thumbs-up4, .icon-thumbs-up3, .icon-thumbs-up2, .icon-thumbs-up, .icon-thumbs-down2, .icon-thumbs-down, .icon-text-width, .icon-text-height, .icon-text-color, .icon-target3, .icon-target2, .icon-target, .icon-tags2, .icon-tags, .icon-tag5, .icon-tag4, .icon-tag3, .icon-tag2, .icon-tag, .icon-tablet, .icon-table2, .icon-table, .icon-tab, .icon-switch, .icon-support, .icon-superscript2, .icon-superscript, .icon-sun2, .icon-sun, .icon-sun-glasses, .icon-subscript2, .icon-subscript, .icon-stumbleupon2, .icon-stumbleupon, .icon-strikethrough, .icon-storage2, .icon-storage, .icon-stopwatch, .icon-stop2, .icon-stop, .icon-steps, .icon-steam2, .icon-steam, .icon-stats3, .icon-stats2, .icon-stats, .icon-stats-up, .icon-stats-down, .icon-star6, .icon-star5, .icon-star4, .icon-star3, .icon-star2, .icon-star, .icon-stackoverflow, .icon-stack, .icon-spinner8, .icon-spinner7, .icon-spinner6, .icon-spinner5, .icon-spinner4, .icon-spinner3, .icon-spinner2, .icon-spinner, .icon-spell-check, .icon-spam, .icon-spades, .icon-soundcloud2, .icon-soundcloud, .icon-sort2, .icon-sort, .icon-smiley2, .icon-smiley, .icon-skype, .icon-skull2, .icon-skull, .icon-signup, .icon-sigma, .icon-shuffle2, .icon-shuffle, .icon-shocked2, .icon-shocked, .icon-shield2, .icon-shield, .icon-share3, .icon-share2, .icon-share, .icon-settings, .icon-search3, .icon-search2, .icon-search, .icon-screen2, .icon-screen, .icon-scissors2, .icon-scissors, .icon-safari, .icon-sad2, .icon-sad, .icon-rulers, .icon-rotate2, .icon-rotate, .icon-rocket, .icon-rock, .icon-road, .icon-right-to-left, .icon-reply2, .icon-reply, .icon-remove5, .icon-remove4, .icon-remove3, .icon-remove2, .icon-remove, .icon-redo2, .icon-redo, .icon-reddit, .icon-rating3, .icon-rating2, .icon-rating, .icon-radio, .icon-radio-unchecked, .icon-radio-checked, .icon-quotes-right3, .icon-quotes-right2, .icon-quotes-right, .icon-quotes-left, .icon-quill2, .icon-quill, .icon-question5, .icon-question4, .icon-question3, .icon-question2, .icon-question, .icon-queen, .icon-qrcode, .icon-pyramid, .icon-puzzle4, .icon-puzzle3, .icon-puzzle2, .icon-puzzle, .icon-pushpin, .icon-profile, .icon-print2, .icon-print, .icon-previous, .icon-power2, .icon-power, .icon-power-cord, .icon-popout, .icon-point-up, .icon-point-right, .icon-point-left, .icon-point-down, .icon-podium, .icon-podcast, .icon-plus, .icon-plus-circle2, .icon-plus-circle, .icon-playlist, .icon-play3, .icon-play2, .icon-play, .icon-pinterest2, .icon-pinterest, .icon-pilcrow, .icon-pie4, .icon-pie3, .icon-pie2, .icon-pie, .icon-picassa2, .icon-picassa, .icon-piano, .icon-phone5, .icon-phone4, .icon-phone3, .icon-phone2, .icon-phone, .icon-phone-hang-up2, .icon-phone-hang-up, .icon-people, .icon-pencil4, .icon-pencil3, .icon-pencil2, .icon-pencil, .icon-pen3, .icon-pen2, .icon-pen, .icon-peace, .icon-paypal3, .icon-paypal2, .icon-paypal, .icon-pawn, .icon-paw, .icon-pause2, .icon-pause, .icon-patch, .icon-paste3, .icon-paste2, .icon-paste, .icon-paragraph-right2, .icon-paragraph-right, .icon-paragraph-left2, .icon-paragraph-left, .icon-paragraph-justify2, .icon-paragraph-justify, .icon-paragraph-center2, .icon-paragraph-center, .icon-paper-plane, .icon-paint-format, .icon-pagebreak, .icon-page-break2, .icon-page-break, .icon-pacman, .icon-opera, .icon-omega, .icon-office, .icon-numbered-list, .icon-notification, .icon-notebook, .icon-next, .icon-newspaper, .icon-new, .icon-new-tab2, .icon-new-tab, .icon-neutral2, .icon-neutral, .icon-nbsp, .icon-music3, .icon-music2, .icon-music, .icon-mug, .icon-movie2, .icon-movie, .icon-move, .icon-mouse2, .icon-mouse, .icon-moon, .icon-mobile2, .icon-mobile, .icon-minus, .icon-minus-circle2, .icon-minus-circle, .icon-mic4, .icon-mic3, .icon-mic2, .icon-mic, .icon-meter2, .icon-meter, .icon-meter-slow, .icon-meter-medium, .icon-meter-fast, .icon-menu5, .icon-menu4, .icon-menu3, .icon-menu2, .icon-menu, .icon-megaphone, .icon-medal5, .icon-medal4, .icon-medal3, .icon-medal2, .icon-medal, .icon-marker, .icon-map3, .icon-map2, .icon-map, .icon-man, .icon-male, .icon-mail4, .icon-mail3, .icon-mail2, .icon-mail, .icon-mail-send, .icon-magnet, .icon-loop5, .icon-loop4, .icon-loop3, .icon-loop2, .icon-loop, .icon-lock3, .icon-lock2, .icon-lock, .icon-location4, .icon-location3, .icon-location2, .icon-location, .icon-list2, .icon-list, .icon-linkedin, .icon-link22, .icon-link6, .icon-link5, .icon-link4, .icon-link3, .icon-link2, .icon-link, .icon-lightning, .icon-libreoffice, .icon-library, .icon-left-to-right, .icon-leaf, .icon-lastfm2, .icon-lastfm, .icon-last, .icon-laptop, .icon-lanyrd, .icon-lamp3, .icon-lamp2, .icon-lamp, .icon-ladder, .icon-lab, .icon-knight, .icon-king, .icon-keyboard, .icon-key2, .icon-key, .icon-joomla, .icon-italic, .icon-instagram, .icon-insert-template, .icon-inject, .icon-info2, .icon-info, .icon-indent-increase, .icon-indent-decrease, .icon-images, .icon-image5, .icon-image4, .icon-image3, .icon-image2, .icon-image, .icon-IE, .icon-icon, .icon-html52, .icon-html5, .icon-home7, .icon-home6, .icon-home5, .icon-home4, .icon-home3, .icon-home2, .icon-home, .icon-history, .icon-heart6, .icon-heart5, .icon-heart4, .icon-heart3, .icon-heart2, .icon-heart, .icon-heart-broken3, .icon-heart-broken2, .icon-heart-broken, .icon-headphones2, .icon-headphones, .icon-happy2, .icon-happy, .icon-hanger, .icon-hammer2, .icon-hammer, .icon-gun, .icon-gun-ban, .icon-grin2, .icon-grin, .icon-grid4, .icon-grid3, .icon-grid2, .icon-grid, .icon-google, .icon-google-plus4, .icon-google-plus3, .icon-google-plus2, .icon-google-plus, .icon-google-drive, .icon-globe2, .icon-globe, .icon-glasses3, .icon-glasses2, .icon-glasses, .icon-glass2, .icon-glass, .icon-github5, .icon-github4, .icon-github3, .icon-github2, .icon-github, .icon-gift, .icon-gas-pump, .icon-foursquare2, .icon-foursquare, .icon-forward3, .icon-forward2, .icon-forward, .icon-forrst2, .icon-forrst, .icon-food2, .icon-food, .icon-font, .icon-font-size, .icon-folder8, .icon-folder3, .icon-folder2, .icon-folder, .icon-folder-upload2, .icon-folder-upload, .icon-folder-remove, .icon-folder-plus3, .icon-folder-plus2, .icon-folder-plus, .icon-folder-open2, .icon-folder-open, .icon-folder-minus3, .icon-folder-minus2, .icon-folder-minus, .icon-folder-download2, .icon-folder-download, .icon-flower, .icon-flip2, .icon-flip, .icon-flickr4, .icon-flickr3, .icon-flickr2, .icon-flickr, .icon-flattr, .icon-flag4, .icon-flag3, .icon-flag2, .icon-flag, .icon-first, .icon-firefox, .icon-fire, .icon-finder, .icon-filter4, .icon-filter3, .icon-filter2, .icon-filter, .icon-film3, .icon-film2, .icon-film, .icon-file7, .icon-file6, .icon-file5, .icon-file4, .icon-file3, .icon-file2, .icon-file, .icon-file-zip, .icon-file-xml, .icon-file-word, .icon-file-upload, .icon-file-remove, .icon-file-powerpoint, .icon-file-plus, .icon-file-pdf, .icon-file-openoffice, .icon-file-minus, .icon-file-excel, .icon-file-download, .icon-file-css, .icon-file-check, .icon-female, .icon-feed4, .icon-feed3, .icon-feed2, .icon-feed, .icon-fan, .icon-factory, .icon-facebook3, .icon-facebook2, .icon-facebook, .icon-eyedropper, .icon-eye7, .icon-eye6, .icon-eye5, .icon-eye4, .icon-eye3, .icon-eye2, .icon-eye, .icon-eye-blocked2, .icon-eye-blocked, .icon-expand2, .icon-expand, .icon-exit4, .icon-exit3, .icon-exit2, .icon-exit, .icon-evil2, .icon-evil, .icon-esc, .icon-equalizer3, .icon-equalizer2, .icon-equalizer, .icon-envelop2, .icon-envelop, .icon-enter5, .icon-enter4, .icon-enter3, .icon-enter2, .icon-enter, .icon-embed, .icon-eject, .icon-earth, .icon-dumbbell, .icon-droplet2, .icon-droplet, .icon-dribbble3, .icon-dribbble2, .icon-dribbble, .icon-drawer3, .icon-drawer2, .icon-drawer, .icon-download5, .icon-download4, .icon-download3, .icon-download2, .icon-download, .icon-disk, .icon-direction, .icon-dice, .icon-diamonds, .icon-diamond, .icon-deviantart2, .icon-deviantart, .icon-delicious, .icon-database2, .icon-database, .icon-dashboard, .icon-cursor2, .icon-cursor, .icon-cube2, .icon-cube, .icon-css3, .icon-crown, .icon-crop, .icon-credit, .icon-copy4, .icon-copy3, .icon-copy2, .icon-copy, .icon-cool2, .icon-cool, .icon-contrast, .icon-contract2, .icon-contract, .icon-contact-remove2, .icon-contact-remove, .icon-contact-add2, .icon-contact-add, .icon-construction, .icon-console, .icon-connection2, .icon-connection, .icon-confused2, .icon-confused, .icon-cone, .icon-compass2, .icon-compass, .icon-command, .icon-coin, .icon-cogs, .icon-cog4, .icon-cog3, .icon-cog2, .icon-cog, .icon-code, .icon-clubs, .icon-cloud, .icon-cloud-upload, .icon-cloud-download, .icon-close, .icon-clock4, .icon-clock3, .icon-clock2, .icon-clock, .icon-clipboard, .icon-clear-formatting, .icon-chrome, .icon-checkmark4, .icon-checkmark3, .icon-checkmark2, .icon-checkmark, .icon-checkmark-circle2, .icon-checkmark-circle, .icon-checkbox-unchecked, .icon-checkbox-partial, .icon-checkbox-checked, .icon-certificate, .icon-cc, .icon-cart5, .icon-cart4, .icon-cart3, .icon-cart2, .icon-cart, .icon-cart-remove2, .icon-cart-remove, .icon-cart-plus, .icon-cart-minus, .icon-cart-checkout, .icon-cart-add, .icon-car, .icon-cancel, .icon-cancel-circle2, .icon-cancel-circle, .icon-camera7, .icon-camera6, .icon-camera5, .icon-camera4, .icon-camera3, .icon-camera2, .icon-camera, .icon-call-outgoing, .icon-call-incoming, .icon-calendar4, .icon-calendar3, .icon-calendar2, .icon-calendar, .icon-calculate2, .icon-calculate, .icon-cake, .icon-cabinet, .icon-busy3, .icon-busy2, .icon-busy, .icon-bus, .icon-bullhorn, .icon-bug2, .icon-bug, .icon-bubbles6, .icon-bubbles5, .icon-bubbles4, .icon-bubbles3, .icon-bubbles2, .icon-bubbles, .icon-bubble6, .icon-bubble5, .icon-bubble4, .icon-bubble3, .icon-bubble2, .icon-bubble, .icon-bubble-video-chat, .icon-bubble-user, .icon-bubble-up, .icon-bubble-trash, .icon-bubble-star, .icon-bubble-right, .icon-bubble-reply, .icon-bubble-replu, .icon-bubble-quote, .icon-bubble-plus, .icon-bubble-paperclip, .icon-bubble-notification2, .icon-bubble-notification, .icon-bubble-minus, .icon-bubble-locked, .icon-bubble-link, .icon-bubble-left, .icon-bubble-last, .icon-bubble-heart, .icon-bubble-forward2, .icon-bubble-forward, .icon-bubble-first, .icon-bubble-down, .icon-bubble-dots2, .icon-bubble-dots, .icon-bubble-check, .icon-bubble-cancel, .icon-bubble-blocked, .icon-brightness-medium, .icon-brightness-low, .icon-brightness-high, .icon-brightness-contrast, .icon-briefcase3, .icon-briefcase2, .icon-briefcase, .icon-box-remove, .icon-box-add, .icon-bottle2, .icon-bottle, .icon-books, .icon-bookmarks, .icon-bookmark3, .icon-bookmark2, .icon-bookmark, .icon-book2, .icon-book, .icon-bold, .icon-boat, .icon-blogger2, .icon-blogger, .icon-blog, .icon-blocked, .icon-bishop, .icon-binoculars, .icon-bell, .icon-bed2, .icon-bed, .icon-basket2, .icon-basket, .icon-bars3, .icon-bars2, .icon-bars, .icon-barcode2, .icon-barcode, .icon-balloon, .icon-balance, .icon-backward2, .icon-backward, .icon-backspace3, .icon-backspace2, .icon-backspace, .icon-attachment2, .icon-attachment, .icon-arrow4, .icon-arrow3, .icon-arrow2, .icon-arrow, .icon-arrow-up11, .icon-arrow-up10, .icon-arrow-up9, .icon-arrow-up8, .icon-arrow-up7, .icon-arrow-up6, .icon-arrow-up5, .icon-arrow-up4, .icon-arrow-up3, .icon-arrow-up2, .icon-arrow-up, .icon-arrow-up-right5, .icon-arrow-up-right4, .icon-arrow-up-right3, .icon-arrow-up-right2, .icon-arrow-up-right, .icon-arrow-up-left5, .icon-arrow-up-left4, .icon-arrow-up-left3, .icon-arrow-up-left2, .icon-arrow-up-left, .icon-arrow-right12, .icon-arrow-right11, .icon-arrow-right10, .icon-arrow-right9, .icon-arrow-right8, .icon-arrow-right7, .icon-arrow-right6, .icon-arrow-right5, .icon-arrow-right4, .icon-arrow-right3, .icon-arrow-right2, .icon-arrow-right, .icon-arrow-left11, .icon-arrow-left10, .icon-arrow-left9, .icon-arrow-left8, .icon-arrow-left7, .icon-arrow-left6, .icon-arrow-left5, .icon-arrow-left4, .icon-arrow-left3, .icon-arrow-left2, .icon-arrow-left, .icon-arrow-first, .icon-arrow-down11, .icon-arrow-down10, .icon-arrow-down9, .icon-arrow-down8, .icon-arrow-down7, .icon-arrow-down6, .icon-arrow-down5, .icon-arrow-down4, .icon-arrow-down3, .icon-arrow-down2, .icon-arrow-down, .icon-arrow-down-right5, .icon-arrow-down-right4, .icon-arrow-down-right3, .icon-arrow-down-right2, .icon-arrow-down-right, .icon-arrow-down-left5, .icon-arrow-down-left4, .icon-arrow-down-left3, .icon-arrow-down-left2, .icon-arrow-down-left, .icon-archive, .icon-apple, .icon-apple-fruit, .icon-angry2, .icon-angry, .icon-android, .icon-anchor, .icon-alarm2, .icon-alarm, .icon-airplane2, .icon-airplane, .icon-aid, .icon-address-book, .icon-accessibility2, .icon-accessibility {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/
    line-height: 1.063;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.bootstrap-select {
    min-width: 280px;
}

.paddingleft42 {
    padding-left: 72px !important;
}

.inputPink {
    background-color: lightpink !important;
}

.inputGreen {
    background-color: lightgreen !important;
}

.minwidth74 {
    min-width: 74% !important;
}


.inputGreen button {
    background-color: lightgreen !important;
}

.width170 {
    width: 170px !important;
    min-width: 170px !important;
}

.dropdownMenu:hover > .dropdown-menu {
    display: block;
}

.dropdownMenu-item:hover > .dropdown-menu {
    display: block;
}

/*ul li {
    list-style-type: none;
    display: inline;
}*/

.navbar-nav .nav-link {
    display: inline-block;
}

.ml-auto {
    display: inline-block !important;
}

.dropdownMenu > .dropdown-toggle:active {
    pointer-events: none;
}

.gradientBackground {
    background: rgb(201,201,201);
    background: linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(137,137,222,1) 45%, rgba(0,212,255,1) 100%);
    /*background: linear-gradient(180deg, #ff4557, #ff717b, #ff7c90, #f799b1,#f8bfd5 );*/
    /*background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}

.borderStatus {
    border: 1px solid #ccc !important;
}

/* .k-grid-header-wrap table thead tr th .k-checkbox-label {
    display: none;
} */
.k-checkbox-label:before {
    margin-left: 15px;
}

.maxheight410 .webGrid .k-grid-content {
    max-height: 410px;
}

.bs-searchbox input {
    max-width: 100%;
}


.bootstrap-select .dropdown-menu {
    min-width: auto !important;
    max-height: 300px !important;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block !important;
    left: 100% !important;
}

.dropdown-submenu {
    position: relative !important;
}

    .dropdown-submenu:hover .dropdown-menu {
        top: 0 !important;
    }



.widthcboCustom .bootstrap-select {
    min-width: 100%;
    width: 100%;
}

.widthcboCustom50 .bootstrap-select {
    min-width: 50%;
    width: 90% !important;
}

.fontSizeMenu {
    font-size: 14px;
    font-weight: 700;
}

.maxwidthInput110 {
    max-width: 110px;
}


.draftColor {
    background-color: #337ab7;
    color: white;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.pendingCheckerColor {
    background-color: #efef16;
    color: black;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.pendingSignerColor {
    background-color: orange;
    color: black;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.approveColor {
    background-color: #10a010;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.rejectColor {
    background-color: #d9534f;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.submitColor {
    background-color: #2AF598;
    color: black;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.completedColor {
    background-color: #58ff39;
    color: black;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.inprogreesColor {
    background-color: #00ffdc;
    color: black;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}


.cancelledColor {
    background-color: #585a59;
    color: black;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.cbo70 > .bootstrap-select > .dropdown-toggle {
    width: 70% !important;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


/*768px, 992px, and 1200*/
/*#region Variables*/
:root {
    --xs-sm-cutoff: 768px;
    --sm-md-cutoff: 992px;
    --md-lg-cutoff: 1200px;
    --k-datepicker-border-radius: 10px;
    --k-window-border-radius: 10px;
}
/*#endregion*/

/*#region General*/
body {
    /*font-family: Tahoma,'Open Sans', sans-serif;*/
    font-size: 12px;
    /*position: relative;*/
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.stretch-horizontal {
    max-width: 100% !important;
    width: 100% !important;
}

/*.page-content {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 15px;
      width: 100%;
  }*/

.spn-top-label {
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
}

.spn-left-label {
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
}

.spn-important-label {
    color: red;
}

.spn-value-label {
    vertical-align: -webkit-baseline-middle;
}

    .spn-value-label:after {
        content: ' ';
        white-space: pre;
    }

.equal-btn-height {
    height: 34px;
    min-height: 34px;
}

.icon-blank::after {
    content: '\00a0';
}

.icon-checkmark::after {
    content: '\2714';
}

.icon-x::after {
    content: '\2716';
}


/*#endregion General*/

/*#region PopUp*/
.popup {
    width: 100%;
}
/*#endregion*/

/*#region ScrollBar*/
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: dimgray;
    }
/*#endregion*/

/*#region TabNavigator*/
.tabnavigator {
    padding-left: 20px;
}

    .tabnavigator > ul {
        border-left: solid;
        border-width: 3px;
        border-color: gold;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
        padding-left: 0px;
    }

        .tabnavigator > ul > li {
            margin-bottom: 10px;
            outline: none;
        }

            .tabnavigator > ul > li:after {
                content: '';
                border-radius: 8px;
                background-color: gold;
                transition-property: border;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                transition-delay: 0s;
                position: absolute;
                left: 13px;
                height: 17px;
                width: 17px;
            }

            .tabnavigator > ul > li:hover:after {
                border: solid;
                border-color: lightcoral;
            }

            .tabnavigator > ul > li.active-tab:after {
                border: solid;
                border-color: red;
            }

            .tabnavigator > ul > li > a {
                color: black;
                margin-left: 10px;
                cursor: default;
                border-radius: 8px;
                padding: 6px;
                text-decoration: none;
                display: inline-block;
                margin-top: -6px;
                width: 130px;
            }

                .tabnavigator > ul > li > a:last-child {
                    margin-bottom: -6px;
                }

                .tabnavigator > ul > li > a:hover {
                    color: black;
                    background-color: lightgray;
                    cursor: pointer;
                }

                .tabnavigator > ul > li > a:focus {
                    color: black;
                    background-color: darkgray;
                }
/*#endregion*/

/*#region TabStrip*/
/*#region Classic Version*/
.tabstrip.k-tabstrip:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tabstrip .k-content.k-state-active {
    margin-top: -1px;
}

.tabstrip .k-tabstrip-items li.tabstrip-item {
    list-style-type: none;
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #9f9f9f;
    padding: 0;
    vertical-align: top;
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: #eae8e8;
    background-repeat: repeat;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    outline: none;
    margin-left: -4px;
    margin-top: 5px;
    padding-top: 0px;
}

    .tabstrip .k-tabstrip-items li.tabstrip-item.k-state-active {
        background-color: white;
        border-bottom-color: white;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:hover {
        margin-top: 0px;
        padding-top: 5px;
    }

    /*#region Z-Index*/
    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(1) {
        z-index: 20;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(2) {
        z-index: 19;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(3) {
        z-index: 18;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(4) {
        z-index: 17;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(5) {
        z-index: 16;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(6) {
        z-index: 15;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(7) {
        z-index: 14;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(8) {
        z-index: 13;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(9) {
        z-index: 12;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(10) {
        z-index: 11;
    }

    .tabstrip .k-tabstrip-items li.tabstrip-item:nth-child(9) {
        z-index: 10;
    }

.k-tabstrip-top .k-tabstrip-items li.tabstrip-item.k-state-active {
    z-index: 100;
}
/*#endregion*/

.k-tabstrip-top .k-tabstrip-items li.tabstrip-item:first-of-type {
    margin-left: 0px;
}

.tabstrip .k-tabstrip-items li.tabstrip-item span {
    border: none;
}

.tabstrip .k-button {
    top: 2px;
    height: 26px;
    width: 26px;
    background-color: lightgray !important;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray !important;
    padding: 2px;
    margin-top: 5px;
}

    .tabstrip .k-button:hover {
        background-color: darkgray !important;
    }
/*#endregion*/
/*#endregion*/

/*#region Div Search*/
.div-search {
    display: flex;
}

    .div-search .img-search {
        display: inline;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        width: 34px;
    }

    .div-search span {
        flex: 1 1 auto;
    }
/*#endregion*/

/*#region Buttons Small Icon*/
button.btn-sm-icon {
    padding: 3px;
}

    button.btn-sm-icon img {
        height: 16px;
        width: 16px;
    }
/*#endregion*/

/*#region Bootstrap Override*/
/*.container {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
  }*/

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
}
/*#endregion Bootstrap Override*/

/*#region Kendo Override*/
/*#region Button*/
.k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-button:focus, .k-button:focus:hover, .k-state-disabled .k-button.k-state-focused {
    background-color: darkgray;
    border-color: lightgray;
    box-shadow: 0 0 2px 1px lightgray;
}

.k-button.k-state-active, .k-button:active {
    background-color: darkgray;
    border-color: lightgray;
}

    .k-button.k-state-hover, .k-button:hover, .k-button.k-state-active:hover, .k-button:active:hover {
        background-color: gray;
        color: white;
        border-color: lightgray;
    }
/*#endregion*/

/*#region Grid*/
.k-grid-header th.k-header {
    font-weight: bold;
}

.k-grid tr.k-state-selected:hover {
    background-color: darkgray;
    color: black;
}

.k-grid .k-grid-content .k-state-selected {
    background-color: gray;
    color: white;
}

    .k-grid .k-grid-content .k-state-selected.k-alt {
        background-color: dimgray;
        color: white;
    }

.k-grid .k-alt {
    background-color: #f1f1f1;
}

.k-grid .k-pager-numbers .k-state-selected {
    background-color: darkgray;
    color: white;
    border-color: black;
}

.k-grid .k-grid-pager .k-link {
    outline: none;
}
/*#endregion*/

/*#region PopUp*/
div.k-window {
    border-radius: var(--k-window-border-radius);
}

.k-window-titlebar {
    border-top-left-radius: var(--k-window-border-radius);
    border-top-right-radius: var(--k-window-border-radius);
    height: 2.2em;
}

.k-window-content {
    border-bottom-left-radius: var(--k-window-border-radius);
    border-bottom-right-radius: var(--k-window-border-radius);
}

/*#region MSIE Fix*/
.msie div.k-window {
    border-radius: 10px;
}

.msie .k-window-titlebar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.msie .k-window-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*#endregion*/
/*#endregion*/

/*#region Radio Button*/
.k-radio-label {
    padding-right: 20px;
}

    .k-radio-label:active:before, .k-radio:hover + .k-radio-label:active:before, .k-radio:checked + .k-radio-label:active:before, .k-radio:focus + .k-radio-label:before {
        border-color: blue;
    }

.k-radio:hover + .k-radio-label:after, .k-radio:checked + .k-radio-label:after, .k-radio:disabled:checked + .k-radio-label:after {
    background-color: darkblue;
}
/*#endregion*/

/*#region Checkbox*/
.k-checkbox:focus + .k-checkbox-label:before, .k-checkbox:checked + .k-checkbox-label:before, .k-checkbox:active + .k-checkbox-label:before, .k-checkbox:checked:active + .k-checkbox-label:before {
    color: darkblue;
    -webkit-box-shadow: 0 0 3px 0 blue;
    box-shadow: 0 0 3px 0 blue;
    border-color: blue;
}

.k-checkbox:disabled:focus + .k-checkbox-label:before, .k-checkbox:disabled:checked + .k-checkbox-label:before, .k-checkbox:disabled:active + .k-checkbox-label:before, .k-checkbox:disabled:checked:active + .k-checkbox-label:before {
    color: #c3c3c3;
    background: #edebea;
    border-color: #cacaca;
    border-radius: 3px;
}
/*#endregion*/

/*#region DatePicker*/
.k-datepicker {
    border-radius: var(--k-datepicker-border-radius);
}

    .k-datepicker .k-picker-wrap {
        border-radius: var(--k-datepicker-border-radius);
    }

        .k-datepicker .k-picker-wrap .k-input {
            border-top-left-radius: var(--k-datepicker-border-radius);
            border-bottom-left-radius: var(--k-datepicker-border-radius);
            height: initial;
        }

/*#region MSIE Fix*/
.msie .k-datepicker {
    border-radius: 10px;
}

    .msie .k-datepicker .k-picker-wrap {
        border-radius: 10px;
    }

        .msie .k-datepicker .k-picker-wrap .k-input {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
/*#endregion*/
/*#endregion*/

.k-list > .k-state-selected {
    background-color: dimgray;
    color: white;
}
/*#endregion*/

/*#region Layout*/
#div-body {
    overflow-y: auto;
}

    #div-body:active, #div-body:focus, #div-body:hover {
        overflow-y: auto;
    }
/*#endregion*/

/*#region divLoading*/
.div-loading {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102);
    z-index: 9000;
    opacity: 0.8;
}

    .div-loading p {
        position: absolute;
        color: White;
        top: 45%;
        left: 45%;
    }

        .div-loading p img {
            height: 100px;
            width: 100px;
        }

        .div-loading p span {
            background-color: black;
        }
/*#endregion*/

/*#region Home/Index*/
/*#region Left Content*/
/*#region Logo*/
.home-index .ovp-logo {
    width: 141px;
    height: 48px;
}

@media (max-width: 1235px) and (min-width: 990px) {
    .home-index .ovp-logo {
        width: 106px;
        height: 36px;
    }
}
/*#endregion*/

/*#region Nav Toggler*/
.home-index .nav-toggler {
    height: 48px;
    border-radius: 16px;
    outline: none !important;
    border: solid;
    border-width: 1px;
    border-color: darkgray;
}

.home-index .nav-toggler-icon {
    height: 24px;
    width: 24px;
}

@media (max-width: 1235px) and (min-width: 990px) {
    .home-index .nav-toggler {
        height: 36px;
    }

    .home-index .nav-toggler-icon {
        height: 18px;
        width: 18px;
    }
}
/*#endregion*/

/*#region Nav Menu*/
.home-index .nav-menu {
    margin-top: 50px;
    position: absolute;
    z-index: 500;
    width: 180px;
    margin-left: -130px;
}

    .home-index .nav-menu ul, .home-index .nav-menu .dropdown-menu {
        background-color: #e8e8e8;
        border: solid;
        border-width: 2px;
        border-radius: 6px;
    }

    .home-index .nav-menu .nav-menu-item > a {
        color: black;
    }

    .home-index .nav-menu .nav li > a:focus, .home-index .nav-menu .open > .home-index .nav-menu-item > a:focus {
        background-color: gray;
        color: white;
    }

    .home-index .nav-menu .nav-menu-item > a:hover, .home-index .nav-menu .open > .home-index .nav-menu-item > a:hover {
        background-color: darkgray;
        color: white;
    }
/*#endregion*/

/*#region Filter*/

.home-index .filter-toggler {
    margin-top: 20px;
    cursor: default;
}

    .home-index .filter-toggler .filter-toggler-inner .toggler-text {
        font-weight: bold;
        font-size: larger;
    }

    .home-index .filter-toggler .filter-toggler-inner.collapse {
        display: block !important;
    }

    .home-index .filter-toggler .filter-toggler-inner .toggler-caret {
        display: inline-block;
        height: 18px;
        width: 18px;
        vertical-align: -webkit-baseline-middle;
        border-width: 8px;
        border-right-style: solid;
        border-right-color: transparent;
        border-left-style: solid;
        border-left-color: transparent;
        border-top-style: solid;
        border-top-color: black;
        border-bottom-style: none;
        border-bottom-color: transparent;
        margin-top: 5px;
        margin-bottom: 0px;
    }

        .home-index .filter-toggler .filter-toggler-inner .toggler-caret.in {
            border-left-style: none;
            border-left-color: transparent;
            border-right-style: solid;
            border-right-color: black;
            border-top-style: solid;
            border-top-color: transparent;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            margin-top: 0px;
            margin-bottom: 9px;
        }

.home-index #div-filters {
    display: none;
}

    .home-index #div-filters.in {
        display: block;
    }
/*#endregion*/

/*#endregion*/

.home-index .link-invalid-template {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

    .home-index .link-invalid-template:hover {
        text-decoration: underline;
    }

/*#region MSIE Fix*/
body.msie .msie-fix-vertical {
    margin-top: 7px;
}
/*#endregion*/
/*#endregion*/

/*#region Home/ErrorTemplate*/

.ErrTemplate {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .ErrTemplate td, .ErrTemplate th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .ErrTemplate .correct-value {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    .ErrTemplate .uploaded-value {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: red;
        color: white;
    }
/*#endregion*/

/*#region Home/LeftFilter*/
.home-leftfilter {
    overflow-y: hidden;
}

    .home-leftfilter:active, .home-leftfilter:focus, .home-leftfilter:hover {
        overflow-y: auto;
    }

    .home-leftfilter .smallsection-header {
        margin-top: 15px;
    }

    .home-leftfilter .spn-header {
        font-weight: bold;
    }

    .home-leftfilter .grid-filter.k-grid .k-grid-header {
        padding: 0;
    }

    .home-leftfilter .grid-filter.k-grid .k-grid-content {
        overflow-y: visible;
    }

    .home-leftfilter .grid-filter.k-grid {
        border: 0;
    }

        .home-leftfilter .grid-filter.k-grid td {
            border: 0;
        }

/*#endregion*/

/*#region Request/ViewRequest*/
.request-viewrequest .row-header {
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 2px;
}

.request-viewrequest .row-afterheader {
    margin-top: 2px;
    border-top: solid;
    border-width: 1px;
    border-color: lightgray;
}

.request-viewrequest .smallsection-header {
    font-size: larger;
    text-decoration: underline;
}

.request-viewrequest .right-button {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.request-viewrequest .page-left-content {
    border-right: solid;
    border-width: 1px;
    border-color: lightgray;
}

.request-viewrequest .page-right-content {
    z-index: 500;
}

.request-viewrequest .row-tabstrip {
    margin-top: 20px;
}

/*#region Right Content Toggling*/
.request-viewrequest .page-right-content .row-navandbuttons {
    position: fixed;
    display: initial;
    width: 190px;
}

.request-viewrequest .row-navigatortoggler {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

@media (max-width: 767px) {
    .request-viewrequest .tab-navigator {
        position: fixed;
        bottom: 180px;
        right: 72px;
        background-color: #e8e8e8;
        padding-bottom: 0px;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        border-radius: 5px;
        padding: 5px;
        padding-top: 10px;
        margin: 0px;
        z-index: 500;
        display: none;
    }

        .request-viewrequest .tab-navigator.collapse.in {
            display: block;
        }

    .request-viewrequest .right-buttons {
        position: fixed;
        right: 73px;
        bottom: 20px;
        background-color: #e8e8e8;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        border-radius: 5px;
        padding: 0px;
        margin: 0px;
        z-index: 500;
        display: none;
    }

        .request-viewrequest .right-buttons.collapse.in {
            display: block;
        }

    .request-viewrequest .row-navigatortoggler {
        z-index: 500;
        display: initial;
    }

    .request-viewrequest .row-right-button {
        margin: 0px;
        margin-top: 5px !important;
    }

    .request-viewrequest .tabnavigator > ul > li > a:hover {
        background-color: darkgray;
    }
}

@media (min-width: 768px) {
    .request-viewrequest .tab-navigator {
        display: initial;
    }

    .request-viewrequest .right-buttons {
        display: initial;
    }
}

.request-viewrequest .row-navigatortoggler .btn {
    height: 36px;
    width: 36px;
    padding: 0px;
    border-radius: 18px;
    outline: none !important;
}

.request-viewrequest .navigatortoggler-icon {
    height: 24px;
    width: 24px;
}

.request-viewrequest .row-right-button {
    text-align: center;
    margin-top: 5px;
}
/*#endregion*/

.request-viewrequest .grid-errormessage {
    color: red;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .request-viewrequest .div-checked-info.visible-md {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .request-viewrequest .div-checked-info.visible-lg {
        display: inline-block !important;
    }
}


.request-viewrequest div.content-after {
    background-color: #f4f4f4;
}

.request-viewrequest .row-field {
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 12px;
}

    .request-viewrequest .row-field:hover {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 12px;
    }

/*#region Approval Detail*/
.request-viewrequest .div-icon-approval {
    height: 48px;
    width: 48px;
    margin-bottom: 12px;
    float: left;
}

.request-viewrequest .icon-approval.icon-blank::after {
    content: '\00a0\00a0\00a0';
}

.request-viewrequest .icon-approval::after {
    font-size: xx-large;
    font-weight: bold;
    border-radius: 32px;
    border-style: solid;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.request-viewrequest .icon-approval.approved::after {
    color: green;
    border-color: green;
}

.request-viewrequest .icon-approval.waiting::after {
    color: gold;
    border-color: gold;
}

.request-viewrequest .icon-approval.not-yet::after {
    color: darkgray;
    border-color: darkgray;
}

.request-viewrequest .icon-approval.rejected::after {
    color: red;
    border-color: red;
}

.request-viewrequest .approval-detail {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

    .request-viewrequest .approval-detail .spn-value-label {
        font-weight: bold;
        display: block;
        margin-top: 8px;
    }

    .request-viewrequest .approval-detail .spn-left-label {
        font-weight: bold;
        display: block;
        margin-top: 8px;
    }

    .request-viewrequest .approval-detail .spn-approval-level {
        color: brown;
    }

    .request-viewrequest .approval-detail .spn-approval-date {
        color: brown;
    }

    .request-viewrequest .approval-detail .spn-approval-delegate-to {
        color: brown;
    }

    .request-viewrequest .approval-detail .spn-approval-delegate-date {
        color: brown;
    }

/*#endregion*/
/*#endregion*/

/*#region Request/UploadRequest*/
.request-uploadrequest {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .request-uploadrequest .row-buttons {
        text-align: center;
    }

        .request-uploadrequest .row-buttons .btn {
            width: 80px;
        }

    .request-uploadrequest .real-content {
        border: solid;
        border-width: 1px;
        padding: 10px;
        border-radius: 10px;
    }
/*#endregion*/

/*#region Andreas*/
/*#region View Filter*/
.view-filter {
    overflow-y: hidden;
    overflow-x: hidden;
}

    .view-filter:active, .view-filter:focus, .view-filter:hover {
        overflow-y: auto;
    }

    .view-filter .smallsection-header {
        margin-top: 15px;
    }

    .view-filter .spn-header {
        font-weight: bold;
    }

    .view-filter .grid-filter.k-grid .k-grid-header {
        padding: 0;
    }

    .view-filter .grid-filter.k-grid .k-grid-content {
        overflow-y: visible;
    }

    .view-filter .grid-filter.k-grid {
        border: 0;
    }

        .view-filter .grid-filter.k-grid td {
            border: 0;
        }

        .view-filter .grid-filter.k-grid .k-grid-header {
            padding-right: 0px !important;
        }

    .view-filter .k-grid-header th.k-header {
        vertical-align: middle;
    }

    .view-filter .k-filter-row th, .k-grid-header th.k-header {
        overflow: hidden;
        border-style: none !important;
        padding: .5em .6em .4em .6em;
        /*font-weight: 400;*/
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
    }
/*#endregion*/

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

/*#region View Filter*/
.toggle {
    display: none;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: Consolas;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #A77B0E;
    background: #FAE042;
    cursor: pointer;
    transition: all 0.25s ease-out;
    height: 2.9em;
    margin-right: 5px;
}

    .lbl-toggle:hover {
        color: #7C5A0B;
    }

    .lbl-toggle::before {
        content: ' ';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
    }

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}
/*#endregion*/

.example {
    position: relative;
    padding-top: 1px;
}

.box {
    margin: 1em 27em;
    padding: 1em;
    background-color: rgba(20,53,80,0.038);
    border: 1px solid rgba(20,53,80,0.05);
}

.console {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    height: 200px;
    margin: 1.4em 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

    .console .count {
        background-color: #91AFEF;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        color: #FFFFFF;
        font-size: 10px;
        margin-left: 5px;
        padding: 2px 6px 2px 5px;
    }

    .console div {
        background-position: 6px -95px;
        border-bottom: 1px solid #DDD;
        padding: 5px 5px 4px 24px;
    }

    .console .error {
        background-position: 6px -135px;
    }

/*===== Hint for Kendo Upload =====*/
.demo-hint {
    line-height: 22px;
    color: #aaa;
    font-style: italic;
    font-size: .9em;
}

/*===== CheckBox Custom =====*/
input[type="checkbox"].largerCheckbox {
    width: 15px;
    height: 15px;
}

/*===== Nav tabs =====*/
/* Page tabs */

/* Tab and pill content */

.panel > .tabbable > .tab-content {
    border: 0;
}

.modal .tab-content {
    border: 0;
    padding-top: 20px;
}

.pill-content {
    border: 0;
    margin-top: 16px;
}

@media (max-width: 767px) {

    .nav-tabs.nav-justified > li > a {
        margin-left: 0;
        border: 1px solid #ddd;
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ddd;
    }
}


@media (max-width: 480px) {

    .nav-tabs > li {
        float: none;
    }

        .nav-tabs > li.pull-right {
            float: none !important;
        }

        .nav-tabs > li > a {
            border: 1px solid #ddd;
            margin-right: 0;
        }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            border-bottom-color: #ddd;
        }
}





/*===== Nav pills =====*/

.nav-pills > li > a {
    color: #333;
    padding: 9px 14px 10px 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-weight: 600;
    height: 70px;
}

    .nav-pills > li > a:hover,
    .nav-pills > li > a:focus {
        background-color: #fcfcfc;
        box-shadow: none;
    }

    .nav-pills > li > a > i {
        float: left;
        margin: 0px 6px 0 0;
    }

        .nav-pills > li > a > i.pull-right {
            margin: 0px -6px 0 0;
        }

    .nav-pills > li > a .label {
        margin: -5px -8px -5px 8px;
    }

.nav-pills > li.active > a .label {
    background-color: #444;
}

.nav-pills.nav-justified > li > a .label {
    float: right;
    margin: -3px -8px -3px 8px;
}

.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
    color: #ffffff;
    background-color: #3CA2BB;
    border-color: #3CA2BB;
}

.nav-pills .open a .caret,
.nav-pills .open a:hover .caret,
.nav-pills > li.active .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #3CA2BB;
    border-color: #3CA2BB;
}

.nav-pills > li > a:after {
    position: absolute;
    bottom: 7px;
    left: 50%;
    margin-left: -7px;
    border-color: transparent;
    content: '';
}

.nav-pills > li.active > a:after {
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    display: block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #3CA2BB;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}


/* Justified pills */

.nav-pills.nav-justified > li > a {
    margin-left: 4px;
    text-align: center;
}

.nav-pills.nav-justified > li:first-child > a {
    margin-left: 0;
}

.nav-pills.nav-justified > li > a:after,
.nav-pills.nav-justified > li.active > a:after {
    left: 15px;
    margin-left: 0;
}

.nav-pills.nav-justified .dropdown-menu {
    margin-left: 4px;
}

    .nav-pills.nav-justified .dropdown-menu.dropdown-menu-right {
        margin-right: 4px;
    }


/* Stacked pills */

.nav-pills.nav-stacked > li.active > a:after {
    border: 0;
}



@media (max-width: 767px) {

    .nav-pills.nav-justified > li + li {
        margin-left: 0;
        margin-top: 2px;
    }

    .nav-pills.nav-justified > li > a {
        margin-left: 0;
    }

    .nav-pills.nav-justified > li.active > a:after {
        content: "";
        border: 0;
    }

    .nav-pills.nav-justified .dropdown-menu {
        margin-left: 0;
    }
}


@media (max-width: 480px) {

    .nav-pills > li {
        float: none;
    }

        .nav-pills > li + li {
            margin-left: 0;
            margin-top: 2px;
        }

        .nav-pills > li.active > a:after {
            content: "";
            border: 0;
        }
}
/*#endregion*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 0 solid;
    text-align: center;
    color: #fff;
    background: #b51b18;
    padding: 5px 10px;
    margin-left: -30px;
    margin-right: 0px;
}

.main {
    padding-bottom: 100px;
}

.left-area {
    right: 15px;
}

    .left-area .steps {
        padding-left: 20px;
        border-left: 3px solid #ffaa00;
        border-radius: 1px;
        text-align: left;
        font-size: 16px;
        line-height: 1.7;
    }

.steps {
    text-align: right;
    list-style: none;
}

    .steps li {
        margin-bottom: 10px;
    }

ul.steps li {
    position: relative;
    cursor: pointer;
    line-height: 1;
}

    ul.steps li:last-child {
        margin-bottom: 0;
    }

    ul.steps li:after {
        content: '';
        width: 17px;
        height: 17px;
        border-radius: 8px;
        background-color: #ffaa00;
        position: absolute;
        right: -25px;
        left: -30px;
        top: 1px;
        transition: border 0.2s ease-in-out;
    }

    ul.steps li.active:after,
    ul.steps li:hover:after {
        border: 4px solid #B81321;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        right: -30px;
    }

ul.steps > li > a {
    display: inline;
    padding-left: 5px;
}

.page-toolbar ul li {
    list-style: none;
    margin-bottom: 10px;
}

    .page-toolbar ul li button {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        padding: 2px 8px;
        min-width: 115px;
    }

.left-btn-group {
    margin: 40px 0 0 -30px;
}

.page-toolbar ul li i {
    padding-right: 10px;
}

.form-main {
    /*margin-top: -10px;
      margin-bottom: 20px;*/
    text-align: left;
}

    .form-main label {
        text-align: left !important;
    }

section {
    padding-top: 60px;
    margin-bottom: -50px;
}

.form-content {
    margin-top: 27px;
    /*padding-right: 15px;*/
    margin-left: 10px;
}

/*.form-control {
      -webkit-box-shadow: none;
      border: none;
      border-bottom: 1px solid black;
      border-radius: 0px;
  }*/

/*.form-group > label > i {
      font-style: normal;
      float: right;
  }*/

.input-header {
    display: block;
    margin-bottom: 25px;
    padding: 0 0 0 0;
    font-size: 20px;
    height: 30px;
    border-bottom: 2px solid;
}

    .input-header i {
        font-size: 15px;
    }

.border-red {
    border-bottom-color: #e31915;
}

.border-red {
    border-bottom-color: #e31915;
}

.panel-group {
    margin-left: 25px;
    margin-top: -50px;
}

.accordion-toggle i {
    padding-right: 10px;
}

.required {
    color: red;
    float: none !important;
}

/*margin*/
.m-b-s {
    margin-bottom: 5px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.form-group > div > i {
    font-style: normal;
    font-weight: bold;
    float: right;
    padding-top: 7px;
}


label.btn span {
    font-size: 14px;
    /*color: #333;*/
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-check-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-check-circle-o {
    color: #64ff4c;
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: #64ff4c;
}

label input[type="checkbox"] ~ i.fa.fa-square-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="checkbox"] ~ i.fa.fa-check-square-o {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
    color: #7AA3CC;
    display: inline;
}

label:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label.active {
    color: #0a4c00;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    div[data-toggle="buttons"] label:hover {
        color: #64ff4c;
    }

    div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.custom-timepicker span.input-group-addon {
    border-right: none;
    border-top: none;
    border-radius: 0px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    font-size: 16px;
}

.custom-timepicker .table-condensed td .timepicker-hour,
.custom-timepicker .table-condensed td .timepicker-minute {
    padding: 6px 12px;
}

.custom-thumbnail {
    width: 200px;
    height: 150px;
    line-height: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.custom-btnfile {
    padding-top: 115px;
}

    .custom-btnfile > div > span.btn {
        color: #000000;
    }

        .custom-btnfile > div > span.btn:hover {
            color: #ffffff;
        }

footer {
    height: 20px;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: solid 1px #e31915;
}

    footer p {
        float: right;
    }


@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

/*** basic styles ***/

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    input[type=radio].with-font ~ label:before,
    input[type=checkbox].with-font ~ label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f1db";
        letter-spacing: 10px;
        font-size: 1.2em;
        color: #535353;
        width: 1.4em;
    }

    input[type=radio].with-font:checked ~ label:before {
        content: "\f058";
        font-size: 1.2em;
        color: darkgreen;
        letter-spacing: 5px;
    }

    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f00c";
        font-size: 1.2em;
        color: darkgreen;
        letter-spacing: 5px;
    }

    input[type=checkbox].with-font ~ label:before {
        content: "\f096";
    }

    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f046";
        color: darkgreen;
    }

    input[type=radio].with-font:focus ~ label:before,
    input[type=checkbox].with-font:focus ~ label:before,
    input[type=radio].with-font:focus ~ label,
    input[type=checkbox].with-font:focus ~ label {
        color: green;
    }


.non-padding-margin {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.edit-control {
    position: absolute;
    /* text-align: center; */
    width: 50%;
    margin: 0 auto;
    /* float: right; */
    right: 0;
    margin-right: 50px;
}

.custom-calender > span {
    background-color: #ffffff;
    border-radius: 0px;
    border-bottom: 1px solid #000000;
    border-top: none;
    border-right: none;
}

.new-upload-btn {
    min-width: 115px;
    border-radius: 7px;
    color: #000;
    font-weight: bold;
    padding: 2px 8px;
}

#container {
    width: 100%;
    padding: inherit 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-margin {
    margin-bottom: 5px;
}

.k-state-selected {
    background-color: gray !important;
    color: white !important;
}

label {
    padding-top: 5px;
}

.bootstrap-select.disabled, .bootstrap-select > .disabled {
    background: #eee;
}

.k-grid-header .k-header {
    overflow: visible !important;
    white-space: normal !important;
}

.swal2-container.swal2-shown {
    background-color: rgba(255,255,255,0.8);
}

.swal2-modal {
    background: #c2dae8;
}


.subtitleUS {
    font-size: 14px;
    font-weight: 700;
}

.fontbold {
    font-weight: 700;
}

.countDataCorrect {
    font-weight: 700;
    border: 1px solid black;
    border-radius: 13px;
    padding: 5px 10px 5px 10px;
    background: #7fad7f;
    color: black;
}

.countDataInCorrect {
    font-weight: 700;
    border: 1px solid black;
    border-radius: 13px;
    padding: 5px 10px 5px 10px;
    background: #cb6969;
    color: black;
}

.error {
    /*font-weight: 700 !important;*/
    color: red !important;
}