﻿@model VOX_WEB.Models.Organizer

<div class="panel-body page-content " style="margin-left:0px;">
    <div class="row form-group ">

        <div class="col-md-6">
            <div class="col-md-12">

                <form id="form2">
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">Organizer Name<span style="color:red;">*</span></label>
                        <div class="col-md-3">
                            <input required class="form-control" id="organizerName" name="organizerName" type="text" value="@Model.organizerName" autocomplete="off" />
                            <input id="hid" type="hidden" value="@Model.id" />
                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">Image Location<span style="color:red;">*</span></label>
                        <div class="col-md-3">
                            <input required class="form-control" id="imageLocation" name="imageLocation" type="text" autocomplete="off" value="@Model.imageLocation" />

                        </div>
                    </div>
                    
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">&nbsp;</label>
                        <div class="col-md-6">
                            <button type="submit" id="view" class="btn btn-primary right-button" onclick="onSaveClicked(); return false;">Submit</button>
                            <button type="button" id="back" class="btn btn-danger right-button" onclick="onBackClicked(); return false;">Back</button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
