﻿
@{
    ViewBag.Title = "Organizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    var urlGetOrganizerAll = '@Url.Action("getOrganizerAll", "Organizer")';
    var urlEditForm = '@Url.Action("Edit", "Organizer")';
    var urlSave = '@Url.Action("Save", "Organizer")';
    var urlDelete = '@Url.Action("Delete", "Organizer")';

    
</script>

<div class="panel panel-default" id="createForm">
    <div class="panel-heading">
        <div>
            <div class="col-md-12 paddingleft0 divTitle">
                <div class="col-md-4 paddingleft5 ">
                    <h6 class="fontTitle">
                        Organizer 
                    </h6>
                </div>
                <div class="col-md-8  ">

                </div>
            </div>
        </div>
    </div>

    <div class="" style="min-height:450px;">
        <div class="panel-body page-content " style="margin-left:0px;">
            <div class="row form-group " id="divBtn">

                <div class="col-md-12">
                    <button type="button" id="addnew" class="btn btn-primary right-button" style="float:right;" onclick="onAddNewClicked(); return false;">Add New</button>
                </div>
            </div>
            <div id="divList">
                <div class="row form-group ">
                    <div class="col-md-12">
                        <div id="gvList"></div>
                    </div>
                </div>
            </div>

            <div id="divEdit">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/page/Organizer/Index.js?v=@Html.Raw(ViewBag.Version)"></script>