﻿
@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>

    var urlDeleteUser='@Url.Action("DeleteUserAPI", "Users")';

</script>

<div class="panel panel-default" id="createForm">
    <div class="panel-heading">
        <div>
            <div class="col-md-12 paddingleft0 divTitle">
                <div class="col-md-4 paddingleft5 ">
                    <h6 class="fontTitle">
                        FORM Delete User
                    </h6>
                </div>
                <div class="col-md-8  ">

                </div>
            </div>
        </div>
    </div>

    <div class="" style="min-height:450px;">
        <div class="panel-body page-content " style="margin-left:0px;">
            <div class="row form-group ">
                <form id="form1">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">id<span style="color:red;">*</span></label>
                                <div class="col-md-3">
                                    <input required class="form-control" id="id" name="id" type="number" autocomplete="off" />

                                </div>
                            </div>
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">&nbsp;</label>
                                <div class="col-md-3">
                                    <button type="submit" id="view" class="btn btn-primary right-button" onclick="onDeleteClicked(); return false;">View User</button>

                                </div>

                            </div>
                           
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/page/Users/DeleteUser.js?v=@Html.Raw(ViewBag.Version)"></script>
