﻿
@{
    ViewBag.Title = "Get User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    var urlgetUserByID='@Url.Action("getUserByID", "Users")';
</script>

<div class="panel panel-default" id="createForm">
    <div class="panel-heading">
        <div>
            <div class="col-md-12 paddingleft0 divTitle">
                <div class="col-md-4 paddingleft5 ">
                    <h6 class="fontTitle">
                        FORM Get User
                    </h6>
                </div>
                <div class="col-md-8  ">

                </div>
            </div>
        </div>
    </div>

    <div class="" style="min-height:450px;">
        <div class="panel-body page-content " style="margin-left:0px;">
            <div class="row form-group ">
                <form id="form1">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">id<span style="color:red;">*</span></label>
                                <div class="col-md-3">
                                    <input required class="form-control" id="id" name="id" type="number" autocomplete="off" />

                                </div>
                            </div>
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">&nbsp;</label>
                                <div class="col-md-3">
                                    <button  type="submit" id="view" class="btn btn-primary right-button" onclick="onViewClicked(); return false;">View User</button>

                                </div>

                            </div>
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">Email</label>
                                <div class="col-md-3">
                                    <input disabled class="form-control" id="email" name="email" type="text" autocomplete="off" />

                                </div>
                            </div>
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">First Name</label>
                                <div class="col-md-3">
                                    <input disabled class="form-control" id="firstName" name="firstName" type="text" autocomplete="off" />

                                </div>
                            </div>
                            <div class="row form-group ">
                                <label class="col-md-2 col-form-label">Last Name</label>
                                <div class="col-md-3">
                                    <input disabled class="form-control" id="lastName" name="lastName" type="text" autocomplete="off" />

                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/page/Users/GetUser.js?v=@Html.Raw(ViewBag.Version)"></script>
