﻿@model VOX_WEB.Models.SportEvent

<div class="panel-body page-content " style="margin-left:0px;">
    <div class="row form-group ">

        <div class="col-md-6">
            <div class="col-md-12">

                <form id="form2">
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">Organizer<span style="color:red;">*</span></label>
                        <div class="col-md-3">
                            <select required class="form-control" id="ddlOrganizer" name="ddlOrganizer" style="width: 250px;display: inline;">
                            </select>

                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">Event Name<span style="color:red;">*</span></label>
                        <div class="col-md-3">
                            <input required class="form-control" id="eventName" name="eventName" type="text" value="@Model.eventName" autocomplete="off" />
                            <input id="hid" type="hidden" value="@Model.id" />
                            <input id="hidOrg" type="hidden" value="@Model.organizer.id" />

                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">Event Date<span style="color:red;">*</span></label>
                        <div class="col-md-3">
                            <input required class="form-control" id="eventDate" name="eventDate" type="date" autocomplete="off" value="@Model.eventDate" />

                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">Event Type<span style="color:red;">*</span></label>
                        <div class="col-md-3">
                            <input required class="form-control" id="eventType" name="eventType" type="text" value="@Model.eventType" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-md-2 col-form-label">&nbsp;</label>
                        <div class="col-md-6">
                            <button type="submit" id="view" class="btn btn-primary right-button" onclick="onSaveClicked(); return false;">Submit</button>
                            <button type="button" id="back" class="btn btn-danger right-button" onclick="onBackClicked(); return false;">Back</button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
